*.log

logs/
.cache/
.mixin.out/
.vscode/
simplebackups/
CustomSkinLoader/
journeymap/
saves/
screenshots/
showdown/
tacz_backup/
trainers/
local/
config/ItemLocks/
shaderpacks/
config/yes_steve_model/
crash-reports/
kubejs/probe/
backups/

/usercache.json
/usernamecache.json
/Palmon_T-natives
/resourcepacks
/local
emi.json
